[submodule "external/fullstack-course5"]
	path = external/fullstack-course5
	url = https://github.com/jhu-ep-coursera/fullstack-course5.git
[submodule "external/angular-seed"]
	path = external/angular-seed
	url = https://github.com/angular/angular-seed.git
